main
	section.home#resum
		.home__cont
			.home__cont__info
				+lazyPicture({
					src: `${baseDir}images/602311169.jpeg`,
					alt: 'myphoto',
				})
				h1 Давид Овсепян, 
					br
					|Frontend developver
				p Добрый день меня зовут Давид я frontend разработчик есть знание react.js next.js jquery html css pug sass scss less gulp. Качественная верста кроссбраузерность валидность адаптив pagespeed 90+
			.home__cont__contacts 
				a(href=" mailto: hovsepyandavid0@gmail.com") hovsepyandavid0@gmail.com
				a(href="tel: +374 41 58 80 59") +374 41 58 80 59
				p г.Ереван
				.home__cont__contacts__sites 
					a(href="") 
						include ../../images/fbicon.svg
					a(href="") 
						include ../../images/wkicon.svg
					a(href="") 
						include ../../images/telicon.svg
	section.info_proger#abaut
		.info_proger__cont
			.info_proger__cont__workExperience
				h2 Опыт работы
				.info_proger__cont__workExperience__item 
					span.data Июль 2019
					h4 Freelance Designer
						img(src="images/Group 101.png", alt="")
					p Netherlands, Worldwide
					p Available for a project or job in UX/UI, Visual and Product design.
					a(href="#") Commercial tryouts
					a(href="#") Personal projects
				.info_proger__cont__workExperience__item 
					span.data Январь 2017 - Сентябрь 2018
					h4  Digital Designer
						img(src="images/Group102.png", alt="")
					.workname 
						+lazyPicture({
							src: `${baseDir}images/Ellipse11.png`,
							alt: 'myphoto',
						})
						p J Creative Solutions
						span Digital agency in Minsk, Belarus
					p Created visuals for digital marketing channels such as social media, promo web and online ads. Developed visual language from scratch or following the branding guidelines. Designed presentations
					p  for clients and indoor purposes.
					a(href="") Agency projects
				.info_proger__cont__workExperience__item 
					span.data Март 2014 - Февраль 2017
					h4 SEO Specialist → Lead SEO Specialist
						img(src="images/Group103.png", alt="")
					.workname 
						+lazyPicture({
							src: `${baseDir}images/Ellipse12.png`,
							alt: 'myphoto',
						})
						p OZ.by
						span Online bookstore in Minsk, Belarus
					p Improved website performance and user experience of the biggest online bookstore OZ in Belarus, being a part of the marketing team, I interpreted Google Analytics data to IT, content and marketing colleagues. Advised on tech and content optimization strategy, automated processes, provided reports, increased organic traffic up to 150%.
					a(href="") Annual company report 2016
				.info_proger__cont__workExperience__item 
					span.data Март 2014 - Февраль 2017
					h4 SEO Specialist → Lead SEO Specialist
						img(src="images/Group103.png", alt="")
					.workname 
						+lazyPicture({
							src: `${baseDir}images/Ellipse12.png`,
							alt: 'myphoto',
						})
						p OZ.by
						span Online bookstore in Minsk, Belarus
					p Improved website performance and user experience of the biggest online bookstore OZ in Belarus, being a part of the marketing team, I interpreted Google Analytics data to IT, content and marketing colleagues. Advised on tech and content optimization strategy, automated processes, provided reports, increased organic traffic up to 150%.
					a(href="") Annual company report 2016
				.info_proger__cont__workExperience__item 
					span.data Март 2014 - Февраль 2017
					h4 SEO Specialist → Lead SEO Specialist
						img(src="images/Group103.png", alt="")
					.workname 
						+lazyPicture({
							src: `${baseDir}images/Ellipse12.png`,
							alt: 'myphoto',
						})
						p OZ.by
						span Online bookstore in Minsk, Belarus
					p Improved website performance and user experience of the biggest online bookstore OZ in Belarus, being a part of the marketing team, I interpreted Google Analytics data to IT, content and marketing colleagues. Advised on tech and content optimization strategy, automated processes, provided reports, increased organic traffic up to 150%.
					a(href="") Annual company report 2016
			.info_proger__cont__img 
				+lazyPicture({
					src: `${baseDir}images/image81.png`,
					alt: 'myphoto',
				})
			.info_proger__cont__education
				h2 Образование
				.info_proger__cont__education__item 
					+lazyPicture({
						src: `${baseDir}images/Group3.png`,
						alt: 'myphoto',
					})
					h4 Interface Design: Web & Mobile
					p IT-Academy, 2020
				.info_proger__cont__education__item 
					+lazyPicture({
						src: `${baseDir}images/Group3.png`,
						alt: 'myphoto',
					})
					h4 Interface Design: Web & Mobile
					p IT-Academy, 2020
				.info_proger__cont__education__item 
					+lazyPicture({
						src: `${baseDir}images/Group3.png`,
						alt: 'myphoto',
					})
					h4 Interface Design: Web & Mobile
					p IT-Academy, 2020
				.info_proger__cont__education__item 
					+lazyPicture({
						src: `${baseDir}images/Group3.png`,
						alt: 'myphoto',
					})
					h4 Interface Design: Web & Mobile
					p IT-Academy, 2020
				.info_proger__cont__education__item 
					+lazyPicture({
						src: `${baseDir}images/Group3.png`,
						alt: 'myphoto',
					})
					h4 Interface Design: Web & Mobile
					p IT-Academy, 2020
				.info_proger__cont__education__item 
					+lazyPicture({
						src: `${baseDir}images/Group3.png`,
						alt: 'myphoto',
					})
					h4 Interface Design: Web & Mobile
					p IT-Academy, 2020
	section.skills#skills
		.skills__cont 
			h2 Навыки
			.skills__cont__grid
				.skills__cont__grid__item
					h4 Adobe Creative Suite
					p Photoshop, Illustrator, InDesign, XD, After Effects
				.skills__cont__grid__item
					h4 Prototyping
					p Sketch, Figma, InVision, Marvel, Principle, Balsamiq
				.skills__cont__grid__item
					h4 Additional
					p HTML, CSS, Google Analytics, Keynote, Miro
				.skills__cont__grid__item
					h4 Languages
					p Conversational English and Native Russian